.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

@for $var from 0 through 40 {
  .gap-#{$var} {
    gap: #{$var}px !important;
  }
}
