// fixed
.fixed-top {
  top: 0;
  position: fixed !important;
}
.fixed-bottom {
  bottom: 0;
  position: fixed !important;
}
.fixed-right {
  right: 0;
  position: fixed !important;
}
.fixed-left {
  left: 0;
  position: fixed !important;
}