.hero {
  padding: 8rem 2rem;
  border-radius: 5px;

  &-title {
    font-size: 60px;
    margin-bottom: 0;
    font-weight: 800;
  }

  &-slug {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
  }
}