.hero {
  padding: 8rem 2rem;
  background-color: blue;
  border-radius: 5px;

  &__title {
    font-size: 28px;
    margin-bottom: 0;
  }

  &__slug {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
  }
}